text.txt
-port
8070
-host
localhost
-ontonotes_config
/home/josubg/remote/workspace/corefgraph/corefgraph/resources/configfiles/server/ontonotes.dev_auto
-key_path
/home/josubg/remote/conll2011/corpus/dev/gold/data/english/annotations
-scorer
/home/josubg/remote/workspace/corefgraph/corefgraph/resources/scripts/scorer.pl
