text.txt
-port
8070
-host
helheim
-singletons
-ontonotes_config
/server/workspace/corefgraph/corefgraph/resources/configfiles/server/ontonotes.dev_dev
-key_path
/server/conll2011/v2/limpios/dev_gold/data/english/annotations'
-scorer
/server/workspace/corefgraph/corefgraph/resources/scripts/scorer.pl