text.txt
-port
8070
-host
localhost
-ontonotes_config
/home/nasgar/remote/workspace/corefgraph/corefgraph/resources/configfiles/home/ontonotes.dev_auto
-key_path
/home/nasgar/remote/conll2011/corpus/dev/gold/data/english/annotations
-scorer
/home/nasgar/remote/workspace/corefgraph/corefgraph/resources/scripts/scorer.pl
